<!--
File: 
-->
<div class="container-fluid pt-5 mt-4 flex-grow-1" style="background-color: #ff0000; min-height: 110%;display: flex; justify-content: center;display:inline-block;">  
             
    <div class="container-md mt-5" style="max-width:800px;"><h5 class="text-white">1. Ad Details</h5> 
              <div class="card mb-3" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title"><%=ad.adTitle%></h5>
<br>
        <!-- Form -->
        <form class="form" method="POST">
            <% if (ad.adStatus == "Archived") { %>
                <fieldset disabled="disabled">
            <% } %>  
            <input type="hidden" name="id" value="<%= ad._id %>" >

            <label for="titleLb">Title</label>
            <div class="form-group">
                <input type="text" class="form-control"
                id="titleTA"
                placeholder="Catchy Ad Title To Request Help..."
                name="adTitle" 
                value="<%=ad.adTitle%>"
                required>
            </div>
            <div class="form-group">
                <label for="firstN">Description</label>
                <textarea rows="5" cols="50" type="text" class="form-control"
                id="descriptionTA"
                placeholder="About this ad..."
                name="description" 
                value="<%= ad.description %>"
                required><%= ad.description %></textarea>
            </div>

            <div class="form-group">
                <label for="dateN">Date Requested</label>
                <input type="date" class="form-control"
                id="dateReq"
                name="DateRequested"                     
                value=""
                >
                </input>
            </div>

            <div class="form-group">
                <label for="emailA">Email Address</label>
                <input type="text" class="form-control"
                id="emailA"
                placeholder="Enter email address"
                name="emailAddress"                     
                value="<%= ad.emailAddress %>"
                required 
                >
                </input>
            </div>
           
            <div class="form-group">
                <label for="phoneN">Phone Number</label>
                <input type="text" class="form-control"
                id="phoneN"
                placeholder="Enter phone number"
                name="phoneNumber"                     
                value="<%= ad.phoneNumber %>"
                >
                </input>
              
            </div>
              
            <% if (ad.adStatus == "Offline" || ad.adStatus == "Active" || ad.adStatus == "Archived") { %>
                <div class="form-group">
                    <label for="priorityT">Status</label>
                    <select class="form-select" aria-label="Status" name="adStatus" id="ChangeStatus" onchange="changeStatus()">
                        <% if (ad.adStatus == "Offline") { %>
                                <option value="Offline" selected>Offline</option>
                            <% } else { %>
                                <option value="Offline">Offline</option>
                            <% } %>
                            <% if (ad.adStatus == "Active") { %>
                                <option value="Active" selected>Active</option>
                            <% } else { %>
                                <option value="Active">Active</option>
                            <% } %>
                            <% if (ad.adStatus == "Archived") { %>
                                <option value="Archived" selected>Archive</option>
                            <% } else { %>
                                <option value="Archived">Archive</option>
                            <% } %>
                    </select>
                </div><% } %>

            </div>
        </div> 

<!-- 2. DIV IMAGES BOX -->
    <div class="container-md mt-5" style="max-width:800px;"><h5 class="text-white">2. Ad Images</h5>
        <div class="card mb-3 p-3 text-center" style="width: 100%; display:inline-block; margin:auto;"> 
            <div style="width: 100%;">
               <!-- <input type="hidden" name="images" value="<%= ad.adImg %>" >-->

                <img id="img1" class="img-ads" src="./../../../../public/content/images/adImg.png" onclick="openImg1()"> </image><img id="img2" class="img-ads" src="./../../../../public/content/images/blankImg.png" onclick="openImg1()"> </image>
                <img id="img3" class="img-ads" src="./../../../../public/content/images/blankImg.png" onclick="openImg1()"> </image><img id="img4" class="img-ads" src="./../../../../public/content/images/blankImg.png" onclick="openImg1()"> </image>
            </div> <br>
           <label for="upload"> Add an image: </label>
           <input id="imgBtn" type="file" name="adImg"
           >
       </div></div>

<!-- 3. DIV BUTTONS BOX -->

       <div class="container-md mt-5" style="max-width:800px;"><h5 class="text-white">3. Saving Changes </h5> 
          <div class="card mb-3 p-5" style="width: 100%;">
            <% if (ad.adStatus == null) { %> <br>
                <button class="btn btn-outline-primary" type="submit" ><i class="fas fa-edit"></i> Submit </button>
                <a href="/ad-list" class="btn btn-outline-dark"><i class="fas fa-undo"></i> Cancel</a> <% } else { %>
            <div class="d-grid gap-2 mt-3">
             <button class="btn btn-outline-primary" type="submit" ><i class="fas fa-edit"></i> Save </button>
                <a href="/ad-list" class="btn btn-outline-dark"><i class="fas fa-undo"></i> Cancel</a>
         </div></div></div>

</div>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div> <% } %>


    </form>
</div>
</div>


<script>

function openImg1(){
document.getElementById("imgBtn").click();
}


    //Load original values 
     var selectOrig = document.getElementById("ChangeStatus").options[document.getElementById("ChangeStatus").selectedIndex].value;
     var titleOrig = document.getElementById("titleI").value;
     var desOrig = document.getElementById("adD").value;
     var priority = document.getElementById("priorityS");
        var priorityOrig = priority.options[priority.selectedIndex].value;
    var firstOrig = document.getElementById("firstN").value;
    var lastOrig = document.getElementById("lastN").value;
    var emailOrig = document.getElementById("emailA").value;
    var phoneOrig = document.getElementById("phoneN").value;
    var narrativeHistory = document.getElementById("narrativeBox").value;
    var changeTypeInput;
    var output;
   document.getElementById("commentBox").style.display = "none"; 
  document.getElementById("narrativeBox").innerHTML = narrativeHistory.replace(/\r?\n/g, '&#13;&#10;');

//HIDE|SHOW COMMENT ON STATUS CHANGE
function changeStatus(){
    document.getElementById("commentBox").style.display = "block";
    var select = document.getElementById("ChangeStatus");
    var value = select.options[select.selectedIndex].value;
    if (value == selectOrig) {
        document.getElementById("commentBox").style.display = "none";
    }
    if (value == "Archived"){
document.getElementById("commentlabel").innerHTML = "ad Resolution";
document.getElementById("commentInput").placeholder = "ad Resolution";
    }
    else {
        document.getElementById("commentlabel").innerHTML = "Comment Required";
document.getElementById("commentInput").placeholder = "Enter a comment";
    }
}
    
function checkForChanges(){
var d = new Date();
var dateString = d.getUTCDate() + "/"+ (d.getUTCMonth()+1) + "/"+ d.getUTCFullYear() + " - " + d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds();

   if (titleOrig != document.getElementById("titleI").value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Title change from '" + titleOrig + "' to '" + document.getElementById("titleI").value + "'.";
   }
   if (desOrig != document.getElementById("adD").value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Description change from '" + desOrig + "' to '" + document.getElementById("adD").value + "'.";
   }
   if (priorityOrig != document.getElementById("priorityS").options[document.getElementById("priorityS").selectedIndex].value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Priority change from '" + priorityOrig + "' to '" + document.getElementById("priorityS").options[document.getElementById("priorityS").selectedIndex].value + "'."; 
   }
   if (firstOrig != document.getElementById("firstN").value) {
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "First Name change from '" + firstOrig + "' to '" + document.getElementById("firstN").value + "'.";
   }
   if (lastOrig != document.getElementById("lastN").value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Last Name change from '" + lastOrig + "' to '" + document.getElementById("lastN").value + "'.";
   }
   if (emailOrig != document.getElementById("emailA").value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Email change from '" + emailOrig + "' to '" + document.getElementById("emailA").value + "'.";
   }
   if (phoneOrig != document.getElementById("phoneN").value){
    narrativeHistory = narrativeHistory + "\n" + dateString + ":\n" + "Phone change from '" + phoneOrig + "' to '" + document.getElementById("phoneN").value + "'.";
   }

}
 //POPULATE NARRATIVE WHEN STATUS CHANGE HAPPENS WITH COMMENT
function populateNarrative(){
var select = document.getElementById("ChangeStatus");
var value = select.options[select.selectedIndex].value;
var d = new Date();
var dateString =  d.getUTCDate() + "/"+ (d.getUTCMonth()+1) + "/"+ d.getUTCFullYear() + " - " + d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds();
if (selectOrig != value){
date = mon + '/' + day + '/' + year;
var comment = "Status change from '" + selectOrig + "' to '" + value +"' ~ Comment: " + document.getElementById("commentInput").value;
output =  narrativeHistory + "\n" + dateString + ":\n" + comment;
document.getElementById("commentInput").value = output;
document.getElementById("commentBox").style.visibility = "hidden";}
else {
    document.getElementById("commentInput").value = narrativeHistory;
}

}
    document.getElementById("addNar").addEventListener("click", addToNarrative);
function addToNarrative(){
var narrativeHistory = document.getElementById("narrativeBox").value;
var d = new Date();
var dateString = d.getUTCDate() + "/"+ (d.getUTCMonth()+1) + "/"+ d.getUTCFullYear() + " - " + d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds();
var comment = "Comment: " + document.getElementById("addToNarrative").value;
output =  narrativeHistory + "\n" + dateString + ":\n" + comment;
document.getElementById("commentInput").value = output;
document.getElementById("addToNarrative").style.visibility = "hidden";
}

</script>